<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-dark">{{title}}</h1>
      </div>
    </div>
  </div>
  <hr>
  <div class="container" style="background-color:#d3d3d3;">
    <div class="row">
      <div class="col-md-8">

        <app-campusplacement></app-campusplacement>
      </div>

    </div>
    <div class="container">
      <div class="col-xs-4">
        <app-creport></app-creport>
      </div>
    </div>
  </div>
  <hr>







</body>

</html>
